/* SubmitArticlePage.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.heading {
  font-size: 2em;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.successMessage {
  background-color: #e6ffed;
  border: 1px solid #28a745;
  color: #155724;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px; /* Adds spacing below success message */
  text-align: center;
  width: 100%;
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.submitButton:hover {
  background-color: #0056b3;
}
